- delete local.html
script.
  window.h5 = !{JSON.stringify(local)}
script(src=local.cdn + '/_bc/jquery/dist/jquery.js')
script(src=local.cdn + '/_bc/tether/dist/js/tether.js')
script(src=local.cdn + '/_bc/bootstrap/dist/js/bootstrap.js')
script(src=local.cdn + '/_bc/react/dist/react.js')
script(src=local.cdn + '/_bc/react-dom/dist/react-dom.js')
script(src=local.bundlePath + '/js/app.min.js')
